<div class="blurb">
  <div class="login">
    <%= form_tag '/login' do %>
      <%= text_field_tag :name, nil, placeholder: 'Name' %>
      <%= password_field_tag :password, nil, placeholder: 'Password' %>
      <%= submit_tag "Login", class: 'button' %>
    <% end %>

  </div>
</div>
