<% if notice %>
  <%= content_tag "div", class:'header-info', data: {text: notice, page: 'home'} do %>
  <% end %>
<% else %>
  <%= content_tag "div", class:'header-info', data: {text: 'audio engineer', page: 'home'} do %>
  <% end %>
<% end %>

<div class="blurb">
  <p>
    alice wilder is an audio engineer based out of Seattle and Toronto
  </p>
</div>
