// Place all the styles related to the Bio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bio .blurb {
  max-width: 750px;
  line-height: 20px;

  p {
    text-align: justify;
  }
}
