// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bio .blurb {
  margin-top: 150px;
  max-width: 750px;
  line-height: 25px;
  font-size: 14px;

  p {
    text-align: justify;
  }
}

@media only screen
  and (max-width : 736px) {
    .bio .blurb {
      margin: 100px 20px 0;
    }
  }
