html, body {
  height: 100%;
}

body {
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #eee;
  letter-spacing: 1px;
  background-image: url(image_path('bg4.jpg'));
  background-color: black;
  background-size: 100% 100%;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: 0.4;
}

h1 {
  font-size: 35px;
  letter-spacing: 5px;
}

.secret {
  cursor:default;
}

.wrapper {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  min-height: 100%;
  position: relative;
}

.header {
  height: 80px;
  font-size: 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
  // background-color: #090909;
  // border-bottom: 1px solid #aaa;

  .alice {
    display: inline-block;
    padding: 34px 0 0 60px;
  }

  .other_menu {
    float: right;
    margin: 45px 60px 0 0;
    font-size: 13px;
    color: #fff;

    a {
      margin: 0 10px;
      opacity: 0.7;
    }

    a.active {
      opacity: 1;
    }

    a:hover {
      opacity: 0.4;
    }
  }
}


.content {
  padding: 40px 0;
  background: none;
  text-align: center;
}

.blurb {
  background-color: #090909;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 13px;
  letter-spacing: 3.2px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #aaa;
  // background-color: #090909;
  // border-top: 1px solid #aaa;
  padding-bottom: 10px;
  opacity: 0.8;

  .copyright {
    vertical-align: middle;
    margin: 0 10px 8px;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 3.5px;
  }

  .social-medias {
    display: inline;
  }

  .social-media {
    display: inline-block;
    padding-top: 5px;
    transition: opacity 0.7s;

    img {
      width: 15px;
      margin: 0 10px;
    }
  }

  .social-media:hover {
    opacity: 0.5;
  }
}

@media only screen
  and (max-width : 736px) {

  .content {
    padding-bottom: 100px;
    margin: 0 auto;
    width: 100%;
  }

  .header {
    padding: 20px 0;
    height: auto;

    .alice {
      display: block;
      margin-top: 5px;
    }
  }

  .menu, .list {
    display: block;
    width: 100%;

    .menu-item, .live-client, .studio-client {
      float: none;
      display: block;
      margin: 20px auto;
    }

    .blurb.short {
      height: 190px;
    }

    .blurb {
      display: table;
      max-width: 210px;
      text-align: center;
      padding: 30px 20px;

      p {
        display: table-cell;
        vertical-align: middle;
        line-height: 25px;
      }
    }
  }

  .footer {
    height: auto;

    .social-medias {
      display: block;
    }

    .social-media {
      padding: 0;
    }

    .dorian {
      margin: 5px 0 15px;
    }
  }

}
