// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  padding: 20px;
}

form {
  text-align: center;
  border: none;
}

.login form input {
  background-color: #222;
  color: #ddd;
  width: 150px;
  height: 30px;
  border: 1px solid #aaa;
  border-radius: 3px;
  font: inherit;
  margin: 0 5px;
  padding: 0 15px;
  font-size: 15px;
}

form input.button {
  width: 150px;
}

form input.button:hover {
  background-color: #444;
}
