// Place all the styles related to the StudioClients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
  display: table;
  margin: 20px auto;
  max-width: 1120px;
}

.studio-client {
  display: table-row;
  float: left;
  margin: 20px;
  width: 238px;
  position: relative;
  border-radius: 4px;
}

.studio-client img {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 13px;
  opacity: 0.7;
}

.studio-client .add {
  top: 90px;
  left: 90px;
  width: 70px;
  opacity: 0.8;
}

.list a:hover {
  opacity: 1;

  img {
    opacity: 1;
  }
}

.studio-client .artist-pic {
  position: static;
  width: 238px;
  height: 238px;
  object-fit: cover;
  object-position: top;
  opacity: 1;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.studio-client .info {
  display: block;
  text-align: left;
  height: 65px;
  margin: 5px 0 0;
  background-color: #000;
  border: 1px solid #ddd;
  box-sizing: border-box;
  transition: opacity 1.5s;
  border-radius: 3px;
}

.studio-client .info {

  padding-left: 10px;

  .artist {
    margin-top: 7px;
    font-size: 18px;
  }

  .album {
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
  }

  .role {
    margin-top: 5px;
    font-size: 12px;
  }
}

.studio-client .info .track {
  margin: 10px 10px 0;
  font-size: 11px;
}

.studio-client .info.back {
  opacity: 1;
}

.studio-client p {
}

.studio-client p.edit-label {
  position: absolute;
  top: 8px;
  left: 100px;
  padding: 0;
}

.studio-client p.new-label {
  position: absolute;
  top: 8px;
  left: 41px;
  padding: 0;
}

form {
  text-align: center;
}

form .studio-field {
  border: none;
}

form .studio-field input {
  padding: 0 10px;
  background-color: #151515;
  color: #ddd;
  width: 210px;
  border: none;
  font: inherit;
}

form .studio-field.artist input {
  font-size: 30px;
  margin: 30px 10px 0;
}

form .studio-field.album input, form .studio-field.role input  {
  margin: 7px 10px 0;
  font-size: 15px;
}

form .studio-field.image, form .studio-field.soundcloud {
  margin: 0 10px;
}

.studio-client form .upload {
  text-align: center;
  width: 150px;
  margin: 5px auto 0;
  font-size: 12px;

  input {
    width: 180px;
  }
}

form .studio-field.image label, form .studio-field.soundcloud label {
  font-size: 10px;
}

form .studio-field.image input, form .studio-field.soundcloud input {
  height: 25px;
  font-size: 10px;
}

.studio-client form .actions input {
  margin: 5px 0;
  background-color: #333;
  border: 1px solid #444;
  color: #ddd;
  font-size: 15px;
  width: 150px;
}

form .actions input:hover {
  background-color: #444;
}

@media only screen
  and (max-width : 736px) {

  .list {
    width: 100%;
    display: block;
    text-align: center;
    .studio-client {
      display: inline-block;
      float: none;
    }
  }

  }
