<div class="bio">
  <!-- <div class="photo">
    <%= image_tag 'alice.png' %>
  </div> -->
  <div class="blurb">
    <p>
      Alice wilder is an audio engineer currently living in NYC. She has done mixing and producing work in the studio and has 10 years of experience mixing bands live on tour<a href="<%= login_path %>" class='secret'>.</a>
    </p>
  </div>
</div>
