<div class="bio">
  <% if notice %>
    <%= content_tag "div", class:'header-info', data: {text: notice, page: 'bio'} do %>
    <% end %>
  <% else %>
    <%= content_tag "div", class:'header-info', data: {text: 'bio', page: 'bio'} do %>
    <% end %>
  <% end %>
  <div class="blurb">
    <p>
      alice wilder is an audio engineer based out of Seattle and Toronto. This is going to be a bio with a bit more text like Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
</div>
